* {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

html.light {
    --color-bg: #ffffff;
    --color-text: #1D3557;
    --color-bottom: #1D3557;
    --color-a: #1D3557;
    --color-img: #1D3557;
}

html.dark {
    --color-bg: #1D3557;
    --color-text: #ffffff;
    --color-bottom: #ffffff;
    --color-a: #ffffff;
    --color-img: #ffffff;
}

svg {
    fill: var(--color-img);
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Odibee Sans', cursive;
    background-position: center;
}

.header__logo h1 {
    display: inline-block;
    vertical-align: middle;
}

.header__logo img {
    vertical-align: middle;
}

.header__block {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 15px;
    font-size: 25px;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

ul {
    display: flex;
    margin-left: 200px;
}

.themes {
    margin-left: 150px;
}

header {
    padding: 20px 0 20px 0;
}

a {
    color: var(--color-a);
}

ul li:hover {
    border-bottom: 1px solid var(--color-bottom);
}

main {
    padding: 30px 0 30px 0;
    background-color: #A8DADC;
}

.categories a {
    border: 1px solid #E63946;
    padding: 20px;
    margin-right: 10px;
}

.about h3 {
    margin-top: 20px;
    font-size: 35px;
}

ol li {
    font-size: 30px;
}

footer {
    background-color: #457B9D;
    padding: 20px 0;
}

.footer__block {
    display: flex;
    justify-content: space-between;
}

.about {
    background-color: #457B9D;
    padding: 50px 0 50px 0;
}

.block-animation {
    width: 150px;
    height: 50px;
    background-color: #2196F3;
    transition: background-color 1s linear;
}
  
.block-animation:hover {
    background-color: #3F51B5;
}

@media screen and (max-width: 1250px) {
    .container {
        max-width: 1100px;
    }

    ul {
        display: flex;
        margin-left: 100px;
    }

    li {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 1150px) {
    .container {
        max-width: 900px;
    }
    
}

@media screen and (max-width: 930px) {
    .container {
        max-width: 750px;
    }

    ul {
        display: flex;
        margin-left: 50px;
    }

    li {
        font-size: 1-px;
    }

    .themes {
        display: flex;
        flex-direction: column;
    }
    
}
