<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мясо</title>
    <link rel="stylesheet" href="css/style-soup.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="container">
        <div class="circle">
            <a href="index.html">Назад</a>
        </div>

        <div class="cards">
            <div class="card">
                <h2>Гуляш из свинины</h2>
                <img src="images/gul.jpg" alt="gul" class="responsive" width="300" height="200">
                <p>Простой вариант рецепта гуляша, из свинины, с луком и томатной пастой.</p>
            </div>

            <div class="card">
                <h2>Бифштекс классический</h2>
                <img src="images/bif.jpg" alt="bif" class="responsive" width="300" height="200">
                <p>Бифштекс из говядины - рецепт классический и горячо любимый мясоедами.</p>
            </div>

            <div class="card">
                <h2>Тефтели в томатном соусе</h2>
                <img src="images/tesh.jpg" alt="tesh" class="responsive" width="300" height="200">
                <p>Приготовьте на обед вкусные тефтели. Я думаю такое блюдо понравится вашим родным и останется в вашем
                    меню надолго.</p>
            </div>
        </div>

        <div id="app">
            <div class="stats">
                <h3 class="stats__title">{{"Текущих задач: "+ tasks.length}}</h3>
            </div>
            <task @task_done="delete_task(index)" :key="index" v-for="(data,index) in tasks" :data="data"></task>
            <div class="add_task">
                <div class="add_task__input ">
                    <input placeholder="Новая задача..." type="text" v-model="new_task.title">
                    <textarea placeholder="Описание" type="text" v-model="new_task.desc"></textarea>
                </div>
                <button class="add_task__btn" @click="add_task">Добавить</button>
            </div>
        </div>
    </div>

    </article>
    </div>

    <script src="js/add-meat.js"></script>
</body>

</html>