<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Салаты</title>
    <link rel="stylesheet" href="css/style-soup.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="container">
        <div class="circle">
            <a href="index.html">Назад</a>
        </div>

        <div class="cards">
            <div class="card">
                <h2>Винегрет с зеленым горошком</h2>
                <img src="images/salad-1.jpg" alt="vinegret" class="responsive" width="300" height="200">
                <p>Нарядный овощной салат подойдет и для повседневного стола и для праздника.</p>
            </div>

            <div class="card">
                <h2>Цезарь</h2>
                <img src="images/salad-2.jpg" alt="cezar" class="responsive" width="300" height="200">
                <p>Этот салат можно готовить по многим рецептам. Я предлагаю салат цезарь с курицей, доступный всем.</p>
            </div>

            <div class="card">
                <h2>Греческий</h2>
                <img src="images/salad-3.jpg" alt="grec" class="responsive" width="300" height="200">
                <p>«Греческий» салат – рецепт лёгкого, вкусного, свежего салата, который прекрасно украсит любой стол.
                </p>
            </div>
        </div>

        <div id="app">
            <div class="stats">
                <h3 class="stats__title">{{"Текущих задач: "+ tasks.length}}</h3>
            </div>
            <task @task_done="delete_task(index)" :key="index" v-for="(data,index) in tasks" :data="data"></task>
            <div class="add_task">
                <div class="add_task__input ">
                    <input placeholder="Новая задача..." type="text" v-model="new_task.title">
                    <textarea placeholder="Описание" type="text" v-model="new_task.desc"></textarea>
                </div>
                <button class="add_task__btn" @click="add_task">Добавить</button>
            </div>
        </div>
    </div>

    </article>
    </div>

    <script src="js/add-salad.js"></script>
</body>

</html>