<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Супы</title>
    <link rel="stylesheet" href="css/style-soup.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="container">
        <div class="circle">
            <a href="index.html">Назад</a>
        </div>


        <div class="cards">
            <div class="card">
                <h2>Щи</h2>
                <img src="images/07.jpg" alt="chi" class="responsive" width="300" height="200">
                <p>Приготовим на обед настоящие щи «по-русски».</p>
            </div>

            <div class="card">
                <h2>Борщ</h2>
                <img src="images/samii_vkusnii_borsh-404089.jpg" alt="borsh" class="responsive" width="300"
                    height="200">
                <p>Знаменитый красный борщ любят за особенный аромат, удивительный вкус и насыщенный цвет. Идеальное
                    сочетание овощей придают красному борщу тот индивидуальный вкус, благодаря которому он входит в
                    список самых известных супов мира. Борщ подают в дорогих ресторанах и готовят дома. Всякий раз,
                    когда есть возможность попробовать борщ, мы выбираем именно его.</p>
            </div>

            <div class="card">
                <h2>Куриный</h2>
                <img src="images/chicken-soup-001.jpg" alt="chicken" class="responsive" width="300" height="200">
                <p>Очень сытный, нежный и ароматный куриный суп, не требующий много времени для приготовления. Рецепт
                    супа с плавленым сыром очень прост, но замечательный вкус супчика оценят даже злостные «нелюбители»
                    первых блюд. Отличный вариант для ужина всей семьей.</p>
            </div>
        </div>

        <div id="app">
            <div class="stats">
                <h3 class="stats__title">{{"Текущих задач: "+ tasks.length}}</h3>
            </div>
            <task @task_done="delete_task(index)" :key="index" v-for="(data,index) in tasks" :data="data"></task>
            <div class="add_task">
                <div class="add_task__input ">
                    <input placeholder="Новая задача..." type="text" v-model="new_task.title">
                    <textarea placeholder="Описание" type="text" v-model="new_task.desc"></textarea>
                </div>
                <button class="add_task__btn" @click="add_task">Добавить</button>
            </div>
        </div>
    </div>

    </article>
    </div>

    <script src="js/add-soup.js"></script>
</body>

</html>